/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    margin: 5px 40px;
}
.medicine-item {
    background-color: #FAB12F;
    padding: 20px;
    border: 3px solid #FA812F;
    border-radius: 5px;
    color: black;
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 3px 5px;
}
.btn {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 20%;
}
.btn-form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 3px 5px;
}
.btn-form {
    justify-content: center;
    padding: 20px;
    border: 3px solid #FA4032;
    border-radius: 7px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
.submitBtn {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}
.submitBtn > input {
    width: 50%;
    border-radius: 5px;
}